:root {
    --grid-color: rgba(255, 255, 255, .05);

    --gradient-start: #233f4b;
    --gradient-middle: #095ba8;
    --gradient-end: #5a29e0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;
    z-index: 1000;
}

nav h1 {
    position: inherit;
    top: 0;
    align-self: center;
    
    color: rgb(77, 77, 77);

    font-size: 48px;
    user-select: none;
}

nav a {
    color: #296ef8;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background: none;
    transition: background-color 0.3s ease;
    font-size: 48px;
    user-select: none;
}

nav a:hover {
    background-color: rgba(41, 110, 248, 0.1);
}

#nav-move-button, #nav-menu-button {
    background: none;
    border: none;

    transition: none;
}

#nav-move-button.flipped {
    transform: scaleX(-1);
}

#nav-move-button:hover, #nav-menu-button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0);
}

#nav-move-button.flipped:hover {
    transform: scaleX(-1) scale(1.1);
}

#nav-move-button-img, #menu-button-img {
    height: 100px;
}

.round-button {
    border-radius: 50%;
    background: #1d1d249a;
    cursor: pointer;

    box-shadow: 0 0 15px 5px rgba(0, 123, 255, .3);

    transition: transform .4s cubic-bezier(.34, 1.56, .64, 1), 
                background-color .3s ease;
}

.round-button:hover {
    transform: scale(.94);
    background: #2a2a359a;
}

/* Gradient Animation */

@keyframes gradient-animation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

body {
    /* Gradient */

    background: linear-gradient(-45deg, 
        var(--gradient-start) 0%, 
        var(--gradient-middle) 25%, 
        var(--gradient-end) 50%, 
        var(--gradient-middle) 75%, 
        var(--gradient-start) 100%);

    animation: gradient-animation 20s ease infinite;

    background-size: 350% 350%;
    background-attachment: fixed;
}

/* Grid */

body::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    position: fixed;

    background-image: 
        linear-gradient(var(--grid-color) 1px, transparent 1px),
        linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);

    background-size: 20px 20px;
    pointer-events: none;
}