body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: rgba(0,0,0, 0.2);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

h1 {
    color: rgba(140, 142, 145);
    font-size: 72px;
}

h2 {
    color: rgb(140, 142, 145);
    font-size: 48px;
}

p, li {
    color: rgb(215, 191, 221);
    font-size: 24px;
}

a {
    color: rgba(140, 142, 145);
}