body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    color: rgb(0, 225, 255);
    
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    text-align: center;
    font-size: 48px;
    margin-bottom: 10vh;
}

section {
    margin-bottom: 7vh;
}

a {
    font-size: 48px;
    color: #296ef8;
    text-decoration: none;
    padding-bottom: 1px;
    background-color: rgba(0,0,0, .1);
    border-radius: 10px;
}

#cpu, #ram, #nvme, #misc, #networkcard, #display {
    display: flex;
    align-items: center;
    gap: 7vh;
}

#cpu {
    margin-left: 13vh;
}

#nvme {
    margin-left: 8vh;
}

#cpu-image {
    width: 307px;
    height: 470px;
    object-fit: contain;
}

#ram-image {
    transform: rotate(90deg);
    object-fit: contain;
}

#nvme-image {
    transform: rotate(90deg);
    width: 256px;
    height: 328px;
}

#networkcard-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

#display-image {
    width: 483px;
    height: 354px;
    object-fit: contain;
}

#misc-image {
    /* half the size of the source image: 1500px by 1125px */
    width: 588px;
    height: 420px;
    object-fit: contain;
}

a:hover {
    color: #5b91ff;
    border-bottom: 1px solid #3a7bff;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

p, li {
    color: snow;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

th, td {
    color: snow;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px 15px;
}

th {
    background-color: #5f5f5f;
}

tr:nth-child(even) {
    background-color: #333333;
}

tr:nth-child(odd) {
    background-color: #272727;
}
